In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn as sk 

from matplotlib import style
style.use('dark_background')

In [2]:
train_data = pd.read_csv('train_data.csv')
train_data = train_data.drop(['ID','HealthServiceArea'], axis = 1)
train_data.head()

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,1
1,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,1
2,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,1
3,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,1
4,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,1

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59966 entries, 0 to 59965
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Gender                        59966 non-null  object
 1   Race                          59966 non-null  object
 2   TypeOfAdmission               59966 non-null  object
 3   CCSProcedureCode              59966 non-null  int64
 4   APRSeverityOfIllnessCode      59966 non-null  int64
 5   PaymentTypology               59966 non-null  object
 6   BirthWeight                   59966 non-null  int64
 7   EmergencyDepartmentIndicator  59966 non-null  object
 8   AverageCostInCounty           59966 non-null  int64
 9   AverageChargesInCounty        59966 non-null  int64
 10  AverageCostInFacility         59966 non-null  int64
 11  AverageChargesInFacility      59966 non-null  int64
 12  AverageIncomeInZipCode        59966 non-null  int64
 13  LengthOfStay                  59966 non-null  int64
dtypes: int64(9), object(5)
memory usage: 6.4+ MB

In [4]:
train_data.describe()

,CCSProcedureCode,APRSeverityOfIllnessCode,BirthWeight,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
count,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000
mean,155.404229,1.254594,3336.298903,2372.806690,7979.126922,2396.414318,7958.472668,59.811143,2.538405
std,89.541978,0.546207,446.244475,639.755096,3220.291347,1248.501189,3859.294711,21.470170,1.171246
min,-1.000000,1.000000,2500.000000,712.000000,1243.000000,457.000000,1120.000000,28.000000,1.000000
25%,115.000000,1.000000,3000.000000,2041.000000,4620.000000,1551.000000,4438.000000,45.000000,2.000000
50%,220.000000,1.000000,3300.000000,2533.000000,9227.000000,1967.000000,7945.000000,55.000000,2.000000
75%,228.000000,1.000000,3600.000000,2785.000000,10644.000000,2895.000000,11619.000000,74.000000,3.000000
max,231.000000,4.000000,7500.000000,3242.000000,11381.000000,8114.000000,18466.000000,115.000000,10.000000

In [5]:
X = train_data.drop('LengthOfStay', axis = 1)
Y = train_data['LengthOfStay']
Y_convert = Y.apply(lambda x: 0 if int(x) <= 3 else 1)

In [6]:
Y.value_counts()

2     25000
3     16000
1      8895
4      7504
5      1342
6       557
7       346
8       145
9        97
10       80
Name: LengthOfStay, dtype: int64

In [7]:
Y_convert.value_counts()

0    49895
1    10071
Name: LengthOfStay, dtype: int64

In [8]:
for col in X.columns:
    print(X[col].value_counts())
    print('---------------------------')

M    30978
F    28987
U        1
Name: Gender, dtype: int64
---------------------------
White                     32943
Other Race                18314
Black/African American     8183
Multi-racial                526
Name: Race, dtype: int64
---------------------------
Newborn      58741
Emergency      659
Urgent         412
Elective       154
Name: TypeOfAdmission, dtype: int64
---------------------------
 228    19886
 115    13628
 0      11189
 220    10773
 231     2981
-1        769
 216      740
Name: CCSProcedureCode, dtype: int64
---------------------------
1    47953
2     8760
3     3252
4        1
Name: APRSeverityOfIllnessCode, dtype: int64
---------------------------
Medicaid                     28723
Private Health Insurance     15608
Blue Cross/Blue Shield       12073
Self-Pay                      1984
Federal/State/Local/VA         849
Managed Care, Unspecified      545
Miscellaneous/Other            118
Medicare                        44
Unknown                         22
Name: PaymentTypology, dtype: int64
---------------------------
3200    5321
3300    5316
3400    5135
3100    4836
3500    4743
3000    4485
3600    4174
2900    3630
3700    3503
2800    3057
3800    2757
2700    2250
3900    2224
2600    1758
4000    1658
2500    1407
4100    1170
4200     847
4300     614
4400     373
4500     237
4600     169
4700     110
4800      65
4900      41
5000      31
5100      17
5200      10
5500       5
5600       3
5300       3
6000       3
6100       2
6400       2
5400       2
6500       2
5800       2
6900       1
6200       1
7500       1
6300       1
Name: BirthWeight, dtype: int64
---------------------------
N    59453
Y      513
Name: EmergencyDepartmentIndicator, dtype: int64
---------------------------
3155    10362
2611     6786
2208     6091
2785     6011
2041     5732
1826     4750
3242     3412
2158     2846
1371     1981
2533     1458
1445     1033
994       976
2756      943
1304      913
2834      574
746       539
2653      495
2018      483
712       461
2209      458
1732      389
1439      385
1446      296
854       277
1018      260
1607      218
1742      212
1665      210
1860      208
1562      200
1511      195
1091      192
2508      179
2318      151
1352      123
2777       84
1996       83
Name: AverageCostInCounty, dtype: int64
---------------------------
11381    10362
9227      6786
10134     6091
10644     6011
9917      5732
4190      4750
8966      3412
4620      2846
5463      1981
3320      1458
3419      1033
2141       976
6179       943
3264       913
8172       574
1243       539
2630       495
3610       483
1775       461
3482       458
5057       389
1734       385
5491       296
1516       277
2685       260
2907       218
2179       212
2096       210
2846       208
3635       200
3519       195
2795       192
2140       179
1857       151
2910       123
1587        84
2611        83
Name: AverageChargesInCounty, dtype: int64
---------------------------
1686    3752
1751    2083
2562    1970
1374    1784
3032    1730
        ...
2777      84
1996      83
3280      28
4071      26
8114       1
Name: AverageCostInFacility, Length: 99, dtype: int64
---------------------------
7945     2279
8951     2083
13341    1970
13345    1784
10135    1730
         ...
1587       84
2611       83
8913       28
13043      26
18466       1
Name: AverageChargesInFacility, Length: 100, dtype: int64
---------------------------
45     10961
96      6538
59      6355
34      4552
74      4375
36      3278
104     3027
58      2675
43      1944
41      1884
55      1690
56      1597
52      1568
48      1148
77      1102
57      1090
68       957
44       768
99       731
47       718
53       689
64       477
46       427
28       272
83       264
103      234
84       158
115      145
50       109
81       100
54        91
95        37
49         5
Name: AverageIncomeInZipCode, dtype: int64
---------------------------

## Dummy Encode

In [15]:
# Select columns for one-hot encoding
# CSS Procedure Code not sure
encode_col = ['Gender','Race','TypeOfAdmission','PaymentTypology','EmergencyDepartmentIndicator']
X_copy = X.copy()


for col in encode_col:
    # create new dataframe for each type of encode_column
    dummiesDF = pd.get_dummies(X_copy[col])
    # merge the new dataframe into the orginal
    X_copy = pd.concat([X_copy, dummiesDF], axis='columns')
    # Drop the original column after encoding
    if col == 'Gender':
        X_copy = X_copy.drop([col,'U'], axis = 1)
    else:
        X_copy = X_copy.drop(col, axis = 1)

X_copy.columns

Index(['CCSProcedureCode', 'APRSeverityOfIllnessCode', 'BirthWeight',
       'AverageCostInCounty', 'AverageChargesInCounty',
       'AverageCostInFacility', 'AverageChargesInFacility',
       'AverageIncomeInZipCode', 'F', 'M', 'Black/African American',
       'Multi-racial', 'Other Race', 'White', 'Elective', 'Emergency',
       'Newborn', 'Urgent', 'Blue Cross/Blue Shield', 'Federal/State/Local/VA',
       'Managed Care, Unspecified', 'Medicaid', 'Medicare',
       'Miscellaneous/Other', 'Private Health Insurance', 'Self-Pay',
       'Unknown', 'N', 'Y'],
      dtype='object')

In [17]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_Y, test_Y = train_test_split(X_copy,Y,test_size = 0.3, stratify = Y)

print(train_X.shape)
print(test_X.shape)
print(train_Y.shape)
print(test_Y.shape)

(41976, 29)
(17990, 29)
(41976,)
(17990,)

In [19]:
# Reset index after spliting

def df_reset_index(x):
    return x.reset_index().drop('index', axis = 1)

train_X = df_reset_index(train_X)
test_X = df_reset_index(test_X)
train_Y = df_reset_index(train_Y)
test_Y = df_reset_index(test_Y)

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train_X)
train_X_scale = scaler.transform(train_X)
test_X_scale = scaler.transform(test_X)
train_Y_ravel = train_Y.values.ravel()

# KhÃ´ng transform data

In [25]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(random_state = 0)
log_reg.fit(train_X_scale, train_Y_ravel)

C:\Users\luong\anaconda3\envs\Basic Tensorflow\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)