In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn as sk 

from matplotlib import style
style.use('dark_background')

In [2]:
train_data = pd.read_csv('train_data.csv')
train_data = train_data.drop(['ID','HealthServiceArea'], axis = 1)
train_data.head()

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,1
1,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,1
2,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,1
3,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,1
4,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,1

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59966 entries, 0 to 59965
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Gender                        59966 non-null  object
 1   Race                          59966 non-null  object
 2   TypeOfAdmission               59966 non-null  object
 3   CCSProcedureCode              59966 non-null  int64
 4   APRSeverityOfIllnessCode      59966 non-null  int64
 5   PaymentTypology               59966 non-null  object
 6   BirthWeight                   59966 non-null  int64
 7   EmergencyDepartmentIndicator  59966 non-null  object
 8   AverageCostInCounty           59966 non-null  int64
 9   AverageChargesInCounty        59966 non-null  int64
 10  AverageCostInFacility         59966 non-null  int64
 11  AverageChargesInFacility      59966 non-null  int64
 12  AverageIncomeInZipCode        59966 non-null  int64
 13  LengthOfStay                  59966 non-null  int64
dtypes: int64(9), object(5)
memory usage: 6.4+ MB

In [4]:
train_data.describe()

,CCSProcedureCode,APRSeverityOfIllnessCode,BirthWeight,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
count,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000,59966.000000
mean,155.404229,1.254594,3336.298903,2372.806690,7979.126922,2396.414318,7958.472668,59.811143,2.538405
std,89.541978,0.546207,446.244475,639.755096,3220.291347,1248.501189,3859.294711,21.470170,1.171246
min,-1.000000,1.000000,2500.000000,712.000000,1243.000000,457.000000,1120.000000,28.000000,1.000000
25%,115.000000,1.000000,3000.000000,2041.000000,4620.000000,1551.000000,4438.000000,45.000000,2.000000
50%,220.000000,1.000000,3300.000000,2533.000000,9227.000000,1967.000000,7945.000000,55.000000,2.000000
75%,228.000000,1.000000,3600.000000,2785.000000,10644.000000,2895.000000,11619.000000,74.000000,3.000000
max,231.000000,4.000000,7500.000000,3242.000000,11381.000000,8114.000000,18466.000000,115.000000,10.000000

In [5]:
X = train_data.drop('LengthOfStay', axis = 1)
Y = train_data['LengthOfStay'].apply(lambda x: 0 if int(x) <= 3 else 1)

In [6]:
Y.value_counts()

0    49895
1    10071
Name: LengthOfStay, dtype: int64

In [7]:
for col in X.columns:
    print(X[col].value_counts())
    print('---------------------------')

M    30978
F    28987
U        1
Name: Gender, dtype: int64
---------------------------
White                     32943
Other Race                18314
Black/African American     8183
Multi-racial                526
Name: Race, dtype: int64
---------------------------
Newborn      58741
Emergency      659
Urgent         412
Elective       154
Name: TypeOfAdmission, dtype: int64
---------------------------
 228    19886
 115    13628
 0      11189
 220    10773
 231     2981
-1        769
 216      740
Name: CCSProcedureCode, dtype: int64
---------------------------
1    47953
2     8760
3     3252
4        1
Name: APRSeverityOfIllnessCode, dtype: int64
---------------------------
Medicaid                     28723
Private Health Insurance     15608
Blue Cross/Blue Shield       12073
Self-Pay                      1984
Federal/State/Local/VA         849
Managed Care, Unspecified      545
Miscellaneous/Other            118
Medicare                        44
Unknown                         22
Name: PaymentTypology, dtype: int64
---------------------------
3200    5321
3300    5316
3400    5135
3100    4836
3500    4743
3000    4485
3600    4174
2900    3630
3700    3503
2800    3057
3800    2757
2700    2250
3900    2224
2600    1758
4000    1658
2500    1407
4100    1170
4200     847
4300     614
4400     373
4500     237
4600     169
4700     110
4800      65
4900      41
5000      31
5100      17
5200      10
5500       5
5600       3
5300       3
6000       3
6100       2
6400       2
5400       2
6500       2
5800       2
6900       1
6200       1
7500       1
6300       1
Name: BirthWeight, dtype: int64
---------------------------
N    59453
Y      513
Name: EmergencyDepartmentIndicator, dtype: int64
---------------------------
3155    10362
2611     6786
2208     6091
2785     6011
2041     5732
1826     4750
3242     3412
2158     2846
1371     1981
2533     1458
1445     1033
994       976
2756      943
1304      913
2834      574
746       539
2653      495
2018      483
712       461
2209      458
1732      389
1439      385
1446      296
854       277
1018      260
1607      218
1742      212
1665      210
1860      208
1562      200
1511      195
1091      192
2508      179
2318      151
1352      123
2777       84
1996       83
Name: AverageCostInCounty, dtype: int64
---------------------------
11381    10362
9227      6786
10134     6091
10644     6011
9917      5732
4190      4750
8966      3412
4620      2846
5463      1981
3320      1458
3419      1033
2141       976
6179       943
3264       913
8172       574
1243       539
2630       495
3610       483
1775       461
3482       458
5057       389
1734       385
5491       296
1516       277
2685       260
2907       218
2179       212
2096       210
2846       208
3635       200
3519       195
2795       192
2140       179
1857       151
2910       123
1587        84
2611        83
Name: AverageChargesInCounty, dtype: int64
---------------------------
1686    3752
1751    2083
2562    1970
1374    1784
3032    1730
        ...
2777      84
1996      83
3280      28
4071      26
8114       1
Name: AverageCostInFacility, Length: 99, dtype: int64
---------------------------
7945     2279
8951     2083
13341    1970
13345    1784
10135    1730
         ...
1587       84
2611       83
8913       28
13043      26
18466       1
Name: AverageChargesInFacility, Length: 100, dtype: int64
---------------------------
45     10961
96      6538
59      6355
34      4552
74      4375
36      3278
104     3027
58      2675
43      1944
41      1884
55      1690
56      1597
52      1568
48      1148
77      1102
57      1090
68       957
44       768
99       731
47       718
53       689
64       477
46       427
28       272
83       264
103      234
84       158
115      145
50       109
81       100
54        91
95        37
49         5
Name: AverageIncomeInZipCode, dtype: int64
---------------------------

## Dummy Encode

In [8]:
# Select columns for one-hot encoding
# CSS Procedure Code not sure
encode_col = ['Gender','Race','TypeOfAdmission','CCSProcedureCode','PaymentTypology','EmergencyDepartmentIndicator']
X_copy = X.copy()


for col in encode_col:
    # create new dataframe for each type of encode_column
    dummiesDF = pd.get_dummies(X_copy[col])
    # merge the new dataframe into the orginal
    X_copy = pd.concat([X_copy, dummiesDF], axis='columns')
    # Drop the original column after encoding
#     if col == 'Gender':
#         X_copy = X_copy.drop([col,'U'], axis = 1)
#     else:
    X_copy = X_copy.drop(col, axis = 1)

X_copy.columns

Index([ 'APRSeverityOfIllnessCode',               'BirthWeight',
             'AverageCostInCounty',    'AverageChargesInCounty',
           'AverageCostInFacility',  'AverageChargesInFacility',
          'AverageIncomeInZipCode',                         'F',
                               'M',                         'U',
          'Black/African American',              'Multi-racial',
                      'Other Race',                     'White',
                        'Elective',                 'Emergency',
                         'Newborn',                    'Urgent',
                                -1,                           0,
                               115,                         216,
                               220,                         228,
                               231,    'Blue Cross/Blue Shield',
          'Federal/State/Local/VA', 'Managed Care, Unspecified',
                        'Medicaid',                  'Medicare',
             'Miscellaneous/Other',  'Private Health Insurance',
                        'Self-Pay',                   'Unknown',
                               'N',                         'Y'],
      dtype='object')

## Test the data in training dataset

In [9]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_Y, test_Y = train_test_split(X_copy,Y,test_size = 0.3, stratify = Y)

print(train_X.shape)
print(test_X.shape)
print(train_Y.shape)
print(test_Y.shape)

(41976, 36)
(17990, 36)
(41976,)
(17990,)

In [10]:
# Reset index after spliting

def df_reset_index(x):
    return x.reset_index().drop('index', axis = 1)

train_X = df_reset_index(train_X)
test_X = df_reset_index(test_X)
train_Y = df_reset_index(train_Y)
test_Y = df_reset_index(test_Y)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train_X)
train_X_scale = scaler.transform(train_X)
test_X_scale = scaler.transform(test_X)
train_Y_ravel = train_Y.values.ravel()

In [12]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(random_state = 0, max_iter = 1000)
log_reg.fit(train_X_scale, train_Y_ravel)
print('Intercept:', log_reg.intercept_)
print('Coefficient/Theta', log_reg.coef_)

Intercept: [-1.78694187]
Coefficient/Theta [[ 0.54004582 -0.04993377  0.00247297  0.00105276  0.14880485  0.02725258
   0.26222462 -0.00176042  0.00176042  0.          0.08234723 -0.0289812
  -0.00428196 -0.04728965 -0.14196499 -0.19732407  0.19460002 -0.00171847
   0.07103552 -0.12743938  0.06426986  0.01493929 -0.05756913 -0.04053465
   0.24773956  0.02551469 -0.01571466  0.02561137 -0.04843849 -0.01746438
   0.02099648  0.0495193  -0.05104636  0.02114076 -0.01101062  0.01101062]]

In [13]:
from sklearn.metrics import accuracy_score, mean_squared_error

log_pred = log_reg.predict(test_X_scale)
print('Accuracy:',accuracy_score(test_Y,log_pred))
print('Mean squared error ', mean_squared_error(test_Y, log_pred))

Accuracy: 0.8392996108949417
Mean squared error  0.16070038910505838

In [14]:
unique, counts = np.unique(log_pred, return_counts=True)
unique_Y, counts_Y = np.unique(test_Y, return_counts=True)
print('Prediction:',dict(zip(unique, counts)))
print('Test_Y:',dict(zip(unique_Y, counts_Y)))

Prediction: {0: 17272, 1: 718}
Test_Y: {0: 14969, 1: 3021}

## Lasso

In [15]:
from sklearn.linear_model import Lasso 

# A list to hold different values of alpha
Log_Reg_Para = [0.01,0.05,0.1,0.25,0.5,0.75,1]

for para in Log_Reg_Para:
    # Create the logistic regression object
    lasso = Lasso(alpha = para, max_iter=1000)
    
    # Fit the model
    lasso.fit(train_X_scale, train_Y_ravel)
    
    # Predict
    preds = lasso.predict(test_X_scale)
    
    # MSE & Accuracy
    mse = mean_squared_error(test_Y, preds)
    print("Alpha MSE",para,":",mse)
    print('---------------------------')

Alpha MSE 0.01 : 0.12595430617147
---------------------------
Alpha MSE 0.05 : 0.13176542723754156
---------------------------
Alpha MSE 0.1 : 0.13909573365442382
---------------------------
Alpha MSE 0.25 : 0.13972727491774828
---------------------------
Alpha MSE 0.5 : 0.13972727491774828
---------------------------
Alpha MSE 0.75 : 0.13972727491774828
---------------------------
Alpha MSE 1 : 0.13972727491774828
---------------------------

In [16]:
lasso = Lasso(alpha = 0.01, max_iter=1000)
# Fit the model
lasso.fit(train_X_scale, train_Y_ravel)
# Predict
preds = lasso.predict(test_X_scale)
preds

array([0.09649393, 0.11607457, 0.18764098, ..., 0.17087706, 0.15336643,
       0.11101855])

## Apply model with test dataset

In [44]:
test_data = pd.read_csv('test_data.csv')
submission = pd.DataFrame(columns=['ID','LengthOfStay'])
submission['ID'] = test_data['ID']
test_data = test_data.drop(['ID','HealthServiceArea'], axis = 1)
test_data.head()

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode
0,F,Other Race,Newborn,216,3,Medicaid,4900,N,3242,8966,2448,13196,34
1,F,White,Newborn,220,1,Medicaid,3100,N,2611,9227,1751,8951,45
2,M,Multi-racial,Newborn,115,1,Medicaid,3300,N,3155,11381,1052,11314,74
3,M,Other Race,Newborn,228,1,Medicaid,3300,N,2611,9227,3790,6250,45
4,F,Other Race,Newborn,220,2,Medicaid,3800,N,3155,11381,3032,10135,59

In [45]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69177 entries, 0 to 69176
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Gender                        69177 non-null  object
 1   Race                          69177 non-null  object
 2   TypeOfAdmission               69177 non-null  object
 3   CCSProcedureCode              69177 non-null  int64
 4   APRSeverityOfIllnessCode      69177 non-null  int64
 5   PaymentTypology               69177 non-null  object
 6   BirthWeight                   69177 non-null  int64
 7   EmergencyDepartmentIndicator  69177 non-null  object
 8   AverageCostInCounty           69177 non-null  int64
 9   AverageChargesInCounty        69177 non-null  int64
 10  AverageCostInFacility         69177 non-null  int64
 11  AverageChargesInFacility      69177 non-null  int64
 12  AverageIncomeInZipCode        69177 non-null  int64
dtypes: int64(8), object(5)
memory usage: 6.9+ MB

In [46]:
for col in test_data.columns:
    print(test_data[col].value_counts())
    print('---------------------------')

M    35471
F    33704
U        2
Name: Gender, dtype: int64
---------------------------
White                     30432
Other Race                27043
Black/African American    10780
Multi-racial                922
Name: Race, dtype: int64
---------------------------
Newborn      68125
Emergency      495
Urgent         362
Elective       194
Trauma           1
Name: TypeOfAdmission, dtype: int64
---------------------------
 228    24212
 0      15120
 220    13108
 115    12819
 231     2535
 216      764
-1        619
Name: CCSProcedureCode, dtype: int64
---------------------------
1    55243
2    10935
3     2998
4        1
Name: APRSeverityOfIllnessCode, dtype: int64
---------------------------
Medicaid                     37037
Private Health Insurance     14871
Blue Cross/Blue Shield       12795
Self-Pay                      2508
Managed Care, Unspecified     1539
Federal/State/Local/VA         320
Medicare                        43
Miscellaneous/Other             27
Unknown                         25
Department of Corrections       12
Name: PaymentTypology, dtype: int64
---------------------------
3200    6355
3300    6320
3400    6049
3100    5735
3500    5454
3000    5218
3600    4799
2900    4318
3700    4006
2800    3529
3800    3256
2700    2654
3900    2479
2600    1988
4000    1785
2500    1338
4100    1257
4200     871
4300     617
4400     418
4500     255
4600     151
4700     123
4800      70
4900      56
5000      24
5100      17
5200      13
5300       8
6100       3
5700       2
7800       1
6600       1
8500       1
6700       1
5400       1
9000       1
5800       1
8600       1
5500       1
Name: BirthWeight, dtype: int64
---------------------------
N    68829
Y      348
Name: EmergencyDepartmentIndicator, dtype: int64
---------------------------
3155    13906
2611     9648
2041     8773
1719     8352
3623     8218
3242     4955
2377     4124
1944     2960
1531     2692
2756     1360
1482     1025
1116      635
631       563
1980      523
738       483
1303      343
1630      321
3427      296
Name: AverageCostInCounty, dtype: int64
---------------------------
11381    13906
9227      9648
9917      8773
3028      8352
7197      8218
8966      4955
7224      4124
5076      2960
6546      2692
6179      1360
3493      1025
4109       635
1491       563
5992       523
1816       483
4386       343
2991       321
3912       296
Name: AverageChargesInCounty, dtype: int64
---------------------------
1751    2985
1374    2823
828     2785
3032    2493
2618    2484
        ...
4404     266
4255     248
6007     212
1129      29
4071      26
Name: AverageCostInFacility, Length: 68, dtype: int64
---------------------------
8951     2985
13345    2823
1876     2785
10135    2493
5977     2484
         ...
6670      266
7101      248
7983      212
3136       29
13043      26
Name: AverageChargesInFacility, Length: 68, dtype: int64
---------------------------
45     13589
59      7968
34      7538
83      6615
74      5705
68      5124
41      4942
115     4229
53      2384
54      2270
81      1944
57      1279
46      1202
50       881
49       805
104      574
95       554
36       500
96       342
99       304
84       275
103       49
55        49
58        17
52        16
56         7
43         4
77         4
64         4
47         2
28         1
Name: AverageIncomeInZipCode, dtype: int64
---------------------------

In [47]:
for col in encode_col:
    # create new dataframe for each type of encode_column
    dummiesDF = pd.get_dummies(test_data[col])
    # merge the new dataframe into the orginal
    test_data = pd.concat([test_data, dummiesDF], axis='columns')
    # Drop the original column after encoding
    test_data = test_data.drop(col, axis = 1)

test_data.columns

Index([ 'APRSeverityOfIllnessCode',               'BirthWeight',
             'AverageCostInCounty',    'AverageChargesInCounty',
           'AverageCostInFacility',  'AverageChargesInFacility',
          'AverageIncomeInZipCode',                         'F',
                               'M',                         'U',
          'Black/African American',              'Multi-racial',
                      'Other Race',                     'White',
                        'Elective',                 'Emergency',
                         'Newborn',                    'Trauma',
                          'Urgent',                          -1,
                                 0,                         115,
                               216,                         220,
                               228,                         231,
          'Blue Cross/Blue Shield', 'Department of Corrections',
          'Federal/State/Local/VA', 'Managed Care, Unspecified',
                        'Medicaid',                  'Medicare',
             'Miscellaneous/Other',  'Private Health Insurance',
                        'Self-Pay',                   'Unknown',
                               'N',                         'Y'],
      dtype='object')

In [48]:
test_data = test_data.drop(['Trauma','Department of Corrections'], axis = 1)

In [49]:
scaler_test = StandardScaler()
scaler_test.fit(test_data)
test_data_scale = scaler_test.transform(test_data)

In [50]:
prediction = log_reg.predict(test_data_scale)
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
u, c = np.unique(prediction, return_counts=True)
print('Prediction:',dict(zip(u, c)))

Prediction: {0: 66444, 1: 2733}

In [52]:
submission['LengthOfStay'] = pd.Series(prediction)
submission

          ID  LengthOfStay
0          1             0
1          2             0
2          3             0
3          4             0
4          5             0
...      ...           ...
69172  69173             0
69173  69174             0
69174  69175             0
69175  69176             0
69176  69177             0

[69177 rows x 2 columns]

In [55]:
submission.to_csv('test1.csv',index=False)